@import "tailwindcss";

@theme {
    --color-backgroundClr: #0a0a0a;
    --color-foregroundClr: #fff;
}

@layer base {
    body {
        @apply bg-backgroundClr text-foregroundClr;
    }

    h2 {
        @apply text-2xl uppercase font-semibold sm:text-3xl md:text-4xl;
    }

    p {
        @apply text-neutral-400 text-base sm:text-lg lg:text-xl;
    }

    button {
        @apply cursor-pointer;
    }
}

@layer components {
    .primary-btn {
        @apply bg-neutral-800 px-8 py-5 rounded-[10px] border border-neutral-600 hover:bg-neutral-700 transition-colors;
    }
}

@layer utilities {
    .container {
        @apply px-4 sm:max-w-[540px] mx-auto md:max-w-[760px] lg:max-w-[960px] xl:max-w-[1150px] 2xl:max-w-[1350px];
    }

    .subtitle {
        @apply text-neutral-400 uppercase text-sm lg:text-base;
    }

    .section {
        @apply pt-24 md:mt-40;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }
}

/* Header */
.navbar {
    @apply fixed top-0 left-0 lg:hidden bg-neutral-950 max-w-[320px] w-full h-screen p-8 pt-16 -translate-x-[320px] transition-transform duration-300 z-40;
}

.navbar.active {
    @apply translate-x-0;
}

.overlay {
    @apply fixed top-0 left-0 w-full h-screen bg-neutral-800/50 opacity-0 transition-opacity duration-300 pointer-events-none z-30;
}

.overlay.active {
    @apply opacity-100 pointer-events-auto;
}
